<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main class="content-wrapper mt-5" style="background: linear-gradient(135deg, #1e3c72, #2a5298); padding: 20px; color: white;">
      <div class="container">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center title" style="font-size: 50px; color: #ffffff; font-weight: bold;">
              Crud Completo con NodeJS, Express y MySQL
            </h2>
          </div>
    
          <div class="col-md-10 mt-5 text-center d-flex justify-content-center">
            <div class="animation-box" style="width: 150px; height: 150px; background-color: #ffffff; border-radius: 50%; animation: bounce 2s infinite;">
            </div>
          </div>
        </div>
      </div>
    </main>
    

   
    
    
    <style>
      
      @media (max-width: 768px) {
        .animation-box {
          width: 100px;
          height: 100px;
          margin: 0 auto; /* Centrado horizontal */
        }
      }
      
      @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-20px);
        }
      }
    </style>
    

    <%- include('includes/scripts') %>
  </body>
</html>
